
/* Topnav */
nav.topnav{
  position:fixed; top:0; left:0; width:100%; height:5rem; z-index:90;
  border-bottom:1px solid #e3e2e2; box-shadow:rgba(0,0,0,.05) 0px 20px 40px 0px;
  background-image:linear-gradient(110deg, #4DAAE9 0%, #4DAAE9 50%, #1B1560 100%);
}
nav.topnav::before{
  content:''; position:fixed; top:0; left:0; background:#ffffff;
  width:24rem; height:calc(5rem - 1px);
  clip-path:polygon(0 0, 100% 0, calc(100% - 2rem) 100%, 0 100%);
}
nav.topnav > .wrapper{
  position:relative; display:flex; width:100%; height:100%; padding:0 2rem;
}
nav.topnav .logo{display:flex; align-items:center; margin:0 auto 0 0;}
nav.topnav .logo:hover{color:var(--p-color);}
nav.topnav .logo img{display:block; height:3.375rem; width:auto;}
nav.topnav .logo .text{line-height:1; font-weight:600; margin:0 0 0 .75rem;}
nav.topnav .logo .text .top{font-size:1rem;}
nav.topnav .logo .text .bottom{font-size:1.75rem;}

nav.topnav .menu-container{display:flex; margin:0 .5rem 0 0;}
nav.topnav .menu{position:relative; height:100%;}
nav.topnav .menu > *{
  display:flex; align-items:center; height:100%; padding:0 1.25rem;
  font-size:1rem; letter-spacing:.05rem; color:#ffffff;
}

nav.topnav .options{display:flex;}
nav.topnav .option{display:flex; align-items:center; height:100%; margin:0 0 0 1.25rem;}
nav.topnav .avatar{
  width:2.625rem; height:2.625rem; border-radius:50%;
  background-size:cover; background-position:center;
}
nav.topnav .hamburger > *{background:#ffffff;}

nav.topnav + .topnav-spacer{height:5rem;}

@media screen and (max-width:991.98px){
  nav.topnav .menu-container{display:none!important;}
}
@media screen and (max-width:767.98px){
  nav.topnav{height:4rem;}
  nav.topnav::before{
    width:18.5rem; height:calc(4rem - 1px);
    clip-path:polygon(0 0, 100% 0, calc(100% - 1.375rem) 100%, 0 100%);
  }
  nav.topnav > .wrapper{padding:0 1rem;}
  nav.topnav .logo img{height:2.75rem;}
  nav.topnav .logo .text{margin:0 0 0 .625rem;}
  nav.topnav .logo .text .top{font-size:.875rem;}
  nav.topnav .logo .text .bottom{font-size:1.4375rem;}
  nav.topnav .menu-container{display:none!important;}
  nav.topnav .avatar{width:2.5rem; height:2.5rem;}
}
@media screen and (min-width:992px){
  nav.topnav .show-tablet{display:none!important;}
}


/* Footer */
nav.footer{
  position:fixed; left:0; bottom:0; width:100%; z-index:89;
  display:flex; align-items:center; justify-content:center; height:3.5rem;
  background:#ffffff; text-align:center; padding:0 1rem;
  border-top:1px solid #e3e2e2;
}
nav.footer br{display:none;}
.footer-spacer{height:3.5rem;}
@media screen and (max-width:575.98px){
  nav.footer{height:4.75rem;}
  nav.footer br{display:block;}
  .footer-spacer{height:4.75rem;}
}
