
/* Auth 01 */
.auth-01{
  position:relative; display:flex; align-items:center; justify-content:center;
  width:100%; height:100dvh;
}
.auth-01 > .img-bg{
  position:absolute; top:0; left:0; width:100%; height:100%;
  background-size:cover; background-position:center;
}
.auth-01 .auth-container{
  width:100%; max-width:24rem; margin:0 auto; background:#ffffff;
}
.auth-01 .auth-container > .header{padding:1.25rem 1rem 1rem 1rem;}
.auth-01 .auth-container > .header .logo{
  display:block; height:3.5rem; width:auto; margin:0 auto;
}
.auth-01 .auth-container > .header .text{
  margin:.75rem 0 0 0; text-align:center; font-size:1.625rem; font-weight:600;
}
.auth-01 .auth-container > .body{padding:.5rem 1rem 1.5rem 1rem;}


/* Page Loading */
.page-loading{
  display:flex; justify-content:center; align-items:center; width:100%; height:100dvh;
}


/* Template Header */
.template-header{width:100%; display:flex; align-items:center;}
.template-header .form-input{width:calc(100% - 20rem); max-width:36rem; padding:0 .625rem;}
.template-header .form-input input[type="text"]{
  font-family:var(--font); padding:.3125rem .625rem!important; line-height:1!important;
  width:100%; border:2px solid transparent; transition:border-color .25s;
}
.template-header .form-switch{width:7.626rem; margin:0 0 0 auto;}
@media screen and (max-width:767.98px){
  .template-header .hide-mobile{display:none!important;}
  .template-header{flex-wrap:wrap;}
  .template-header .form-input{width:100%; max-width:unset; padding:0; margin:.25rem 0 0 0;}
}
@media screen and (min-width:768px){
  .template-header .show-mobile{display:none!important;}
}


/* Template Add */
.template-add{
  display:block; width:100%; padding:1rem; border-radius:var(--bradius);
  border:2px dashed #cccccc; background:#ffffff; color:#cccccc;
  cursor:pointer; margin:1rem 0 0 0; transition:all .25s;
}
.template-add:hover{border-color:var(--p-color); color:var(--p-color);}

/* Template Block */
.template-block{
  display:block; width:100%; padding:.75rem; border-radius:var(--bradius);
  border:2px solid #f4f4f4; cursor:pointer;
}
.template-block.active{border-color:var(--p-color);}


/* Template Editor */
.template-editor{position:relative;}
.template-editor .options{
  position:absolute; top:calc(50% - 3rem); left:100%; width:2.25rem; pointer-events:none;
  opacity:0; border-radius:var(--bradius); overflow:hidden; transition:opacity .25s;
}
.template-editor:hover .options{opacity:1; pointer-events:auto;}


/* Template */
.template{position:relative; display:block; width:100%;}
.template-editor .template .editable{position:relative; cursor:pointer; pointer-events:auto;}
.template-editor .template .editable::before{
  content:''; position:absolute; top:0; left:0; width:100%; height:100%;
  min-height:1rem; border:1.5px dashed transparent; transition:border-color .25s ;
}
.template-editor .template .editable:hover::before{border-color:var(--p-color);}


/* Template 01 */
.template-01{padding:calc(1rem * var(--scale)) calc(1.375rem * var(--scale));}
.template-01 h6{font-size:calc(1.85rem * var(--scale)); font-weight:600; line-height:1.25;}
.template-01 p{font-size:calc(1rem * var(--scale)); font-weight:300; line-height:1.32;}
.template-01 table{
  width:calc(100% + calc(1rem * var(--scale)));
  margin:calc(.875rem * var(--scale)) calc(-1rem * var(--scale)) 0 0;
}
.template-01 table td{
  white-space:nowrap; padding:0 calc(1rem * var(--scale)) 0 0; vertical-align:baseline;
}
.template-01 table td:nth-child(1n){width:31%;}
.template-01 table td:nth-child(2n){width:50%;}
.template-01 table td:nth-child(3n){width:19%;}

/* Template 02 */
.template-02{position:relative;}
.template-02 > .wrapper{
  position:absolute; top:0; left:0; width:100%; height:100%; pointer-events:none;
  display:flex; align-items:center; justify-content:space-between;
  padding:calc(1rem * var(--scale)) calc(3.25rem * var(--scale)) 
    calc(1rem * var(--scale)) calc(2rem * var(--scale));
}
.template-02 > .wrapper > *{pointer-events:auto;}
.template-02 .logo{display:block; height:calc(3.625rem * var(--scale)); width:auto;}
.template-02 p{font-size:calc(.8125rem * var(--scale)); font-weight:300; line-height:1.32;}

/* Template 03 */
.template-03{position:relative;}
.template-03 > .wrapper{
  position:absolute; top:0; left:0; width:100%; height:100%; display:flex; align-items:center;
  padding:0 calc(1.1875rem * var(--scale));
}
.template-03 .logo{
  display:block; height:calc(6.875rem * var(--scale)); width:auto;
  margin:0 calc(2.375rem * var(--scale)) 0 0;
}
.template-03 h6{font-size:calc(1.14rem * var(--scale)); font-weight:600; line-height:1.25;}
.template-03 p{
  font-size:calc(.875rem * var(--scale)); font-weight:500; line-height:1.25;
  margin:calc(.61rem * var(--scale)) 0 0 0;
}

/* Template 04 */
.template-04{position:relative;}
.template-04 > .wrapper{
  position:absolute; top:0; left:0; width:100%; height:100%;
  display:flex; align-items:center; justify-content:space-between;
  padding:0 calc(1.25rem * var(--scale));
}
.template-04 .logo{display:block; height:calc(5.6875rem * var(--scale)); width:auto;}
.template-04 h6{font-size:calc(1.91rem * var(--scale)); font-weight:600; line-height:1.25;}
.template-04 p{
  font-size:calc(1.375rem * var(--scale)); font-weight:300; line-height:1.25;
  margin:calc(1.125rem * var(--scale)) 0 0 0;
}
