/* Reset */
:root{
  --p-color:#4DAAE9;
  --s-color:#1B1560;
  /* --s-color:#5D1569; */
}
html, body{color:#141414; background:#ffffff;}


/* Color */
.color-black, .h-color-black:hover{color:#000000!important;}
.color-white, .h-color-white:hover{color:#ffffff!important;}
.color-dark, .h-color-dark:hover{color:#141414!important;}
.color-p, .h-color-p:hover{color:var(--p-color)!important;}
.color-s, .h-color-s:hover{color:var(--s-color)!important;}
.color-info, .h-color-info:hover{color:#5a8dee!important;}
.color-success, .h-color-success:hover{color:#4ecc48!important;}
.color-warning, .h-color-warning:hover{color:#ecb403!important;}
.color-danger, .h-color-danger:hover{color:#f5334f!important;}
.color-muted, .h-color-muted:hover{color:#c4c4c4!important;}
.color-gray, .h-color-gray:hover{color:#777777!important;}
.color-sgray, .h-color-sgray:hover{color:#999999!important;}
.color-fgray, .h-color-fgray:hover{color:#e4e4e4!important;}

.bcolor-black{border-color:#000000!important;}
.bcolor-white{border-color:#ffffff!important;}
.bcolor-dark{border-color:#141414!important;}
.bcolor-p{border-color:var(--p-color)!important;}
.bcolor-s{border-color:var(--s-color)!important;}
.bcolor-info{border-color:#5a8dee!important;}
.bcolor-success{border-color:#4ecc48!important;}
.bcolor-warning{border-color:#ecb403!important;}
.bcolor-danger{border-color:#f5334f!important;}
.bcolor-muted{border-color:#c4c4c4!important;}
.bcolor-gray{border-color:#777777!important;}
.bcolor-sgray{border-color:#999999!important;}
.bcolor-fgray{border-color:#e4e4e4!important;}

.bg-black{background:#000000!important;}
.bg-white{background:#ffffff!important;}
.bg-dark{background:#141414!important;}
.bg-p{background:var(--p-color)!important;}
.bg-s{background:var(--s-color)!important;}
.bg-info{background:#5a8dee!important;}
.bg-success{background:#4ecc48!important;}
.bg-warning{background:#ecb403!important;}
.bg-danger{background:#f5334f!important;}
.bg-muted{background:#c4c4c4!important;}
.bg-gray{background:#777777!important;}
.bg-sgray{background:#999999!important;}
.bg-fgray{background:#e4e4e4!important;}


/* Paginate */
.paginate .page {
  border-color:#F4F3F7!important; color:#141414; background:#F4F3F7;
}
.paginate .page.active, .paginate .page:hover{background:var(--s-color); color:#ffffff;}
.paginate .page:hover svg{fill:#ffffff;}


/* Table */
.table-wrapper{border-color:#e1e0ea!important;}
table.table th, table.table td{
  background:#ffffff; color:#141414; border-color:#e1e0ea!important;
}
table.table th{background:#f4f3f9;}
table.table td.th{background:#f4f3f9;}
table.table.sticky-tail > * > tr > th:last-child::after,
table.table.sticky-tail > * > tr > td:last-child::after{background:#e1e0ea;}
table.table > tbody > tr:not(.no-hover):hover > td{background:#f9f9f9;}
table.table > tbody > tr.has-error > td{
  background:#fdd6dc; border-left-color:#fa94a4!important;
  border-right-color:#fa94a4!important;
}
table.table > tbody > tr.has-warning > td{
  background:#f9e8b3; border-left-color:#f2c94a!important;
  border-right-color:#f2c94a!important;
}

/* Table Process */
.table-process .icon{color:#ffffff;}


/* Template Header */
.template-header .form-input input[type="text"]{border-color:#f4f4f4;}
.template-header .form-input input[type="text"]:focus{border-color:var(--p-color);}


/* FIXES: Material UI */
.MuiDialog-root .MuiPaper-root{background:#ffffff; color:inherit; box-shadow:none;}
.MuiDialog-root .MuiDialogContent-root{border-color:#e1e0ea;}
.MuiDialog-root .hamburger > div{background:#999999;}
